:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #757575;
  --off-whiite: #faf8f7;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

header .header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}

.header--title-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 115px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  background-color: var(--off-whiite);
  box-shadow: 0 4px 8px var(--warm-black);
  border: none;
  border-radius: 5px;
}

.header--button span {
  display: inline-block;
  width: 15px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

main {
  width: 100%;
  min-width: 320px;
  width: auto;
  background-color: var(--off-whiite);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}

.main-exchange-container--background-img img {
  width: 70%;
  max-width: 315px;
  margin-bottom: 30px;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 280px;
  max-width: 500px;
  margin: 0 auto;
}

.main-exchange-container--title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container--title p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--grey);
}

.main-exchange-container--tables {
  width: 80%;
  min-width: 197px;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 40px;
}

.main-currency-table {
  width: 70%;
  min-width: 230px;
  max-width: 500px;
  height: 260px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
  margin-bottom: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--bitcoin-orange);
}

.currency-table--container {
  width: 90%;
  min-width: 197px;
  max-width: 394px;
  height: 160px;
  margin: 0 auto;
}

.currency-table--container table {
  width: 100%;
  height: 100%;
}

.currency-table--container td {
  padding: 10px 12px;
  font-size: 1.6rem;
  color: #b5b0ac;
  background: var(--white);
  text-align: start;
}

.currency-table--container .table__top-left {
  border-radius: 8px 0 0 0;
}
.currency-table--container .table__top-right {
  border-radius: 0 8px 0 0;
}

.currency-table--container .table__bottom-right {
  border-radius: 0 0 8px 0;
}

.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 8px;
}

.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--grey);
  text-align: start;
}

.currency-table--container .trending-down {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-down.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.currency-table--container .trending-up {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-up.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.currency-table--date {
  width: 80%;
  min-width: fit-content;
  max-width: fit-content;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-size: 1.2rem;
  background-color: var(--soft-orange);
  border-radius: 6px;
}

.currency-table--date p {
  font-weight: 300;
}

.main-product-detail {
  height: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 45px;
  color: var(--white);
  background-color: var(--warm-black);
}

.main-product-detail .bata-icon {
  display: flex;
  position: relative;
  margin: 0 auto;
  top: -50px;
  height: 25px;
  width: 43px;
  background-image: url("../assets/icons/batata.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-product-detail--intro {
  width: 85%;
  height: auto;
  margin: 0 auto;
}

.main-product-detail--intro h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-align: center;
}

.main-product-detail--intro p {
  margin-top: 25px;
  color: var(--grey);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.product-cards--container {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.product-cards--container .product-detail--card {
  width: 70%;
  min-width: 288px;
  max-width: 402px;
  height: auto;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px;
  background-color: #282623;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .product--card-title {
  color: var(--white);
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.product-detail--card .product--card-body {
  margin-top: 10px;
  color: var(--grey);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.product-detail--card .clock-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-bottom: 10px;
  background-image: url("../assets/icons/clock.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-detail--card .eye-icon {
  display: inline-block;
  height: 16px;
  width: 18px;
  margin-bottom: 10px;
  background-image: url("../assets/icons/eye.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-detail--card .dollar-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-bottom: 10px;
  background-image: url("../assets/icons/dollar-sign.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-detail--card .circle-check-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-bottom: 10px;
  background-image: url("../assets/icons/check-circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("https://i.imgur.com/7HRB57e.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding-top: 60px;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--white);
}

.main-plans-container {
  width: 100%;
  height: auto;
  min-width: 320px;
  padding-bottom: 60px;
  text-align: center;
  background-color: var(--off-whiite);
}

.plans-container--intro {
  width: 85%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}

.plans-container--intro h2 {
  padding-top: 40px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--black);
}

.plans-container--intro p {
  padding-top: 24px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--grey);
}

.plans-container--slider {
  display: flex;
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: auto;
  margin: 40px 7px 0 7px;
  padding: 15px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.recomended {
  position: absolute;
  top: -15px;
  left: calc(50% - 48px);
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-decoration: none;
  color: var(--white);
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
}

.lifetime {
  background-color: var(--warm-black);
}

.lifetime .plan-card--title {
  color: var(--white);
}

.lifetime .plan-card--price {
  color: var(--white);
}

.plan-card--title {
  padding-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}

.plan-card--price {
  padding: 5px 0px;
  font-family: "Inter", sans-serif;
  font-size: 5.2rem;
  line-height: 5.2rem;
  font-weight: bold;
}

.plan-card--price span {
  font-size: 1.4rem;
  font-weight: normal;
  vertical-align: text-top;
}

.plan-card--saving {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--grey);
}

.plan-card--cta {
  width: 80%;
  margin-top: 15px;
  padding: 15px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  border-radius: 4px;
  color: var(--black);
  background-color: var(--soft-orange);
  border: 3px solid var(--bitcoin-orange);
}

.plan-card--cta span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  padding: auto;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  background-size: cover;
  background-position: center;
  vertical-align: text-bottom;
}

footer {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--bitcoin-orange);
}

footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.left-footer {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  color: var(--white);
}

.left-footer ul {
  list-style-type: none;
}

.right-footer img {
  height: 60px;
}
